<body>
  <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light">Provinsi & Kabupaten</a>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-2">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
        </li>
      </ul>
      <div class="d-flex">
        <a href="/provinsi" class="btn btn-primary me-2">Data Provinsi</a>
        <a href="/kabupaten" class="btn btn-outline-primary">Data Kabupaten</a>
      </div>
    </div>
  </nav>